<launch>
    <arg name="use_sim_time" default="false"/>
    <param name="/use_sim_time" value="$(arg use_sim_time)"/>

    <node pkg="tanqueray" type="tanqueray_ros" name="tanqueray_node" output="screen">
        <rosparam command="load" file="$(find tanqueray)/config/ros_params.yaml"/>
        <param name="path" value="$(find tanqueray)/config/graph_params.yaml"/>
        <remap from="/gps" to="/ublox/fix"/>
        <remap from="/imu" to="/imu/data"/>
        <remap from="/odom" to="/Odometry"/>
    </node>
</launch>
